# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.pub-cache/
.pub/

# Android
android/app/libs/
android/app/src/main/assets/
android/app/build.gradle.d
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/GeneratedPluginRegistrant.java

# IDEs
.idea/
.vscode/
*.iml
