<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWuvySRWtQ9uABcQirt5OzjKC5P-pL7og</string>
	<key>GCM_SENDER_ID</key>
	<string>164540827567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marro.appfinanciera.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>zentai-9b38a</string>
	<key>STORAGE_BUCKET</key>
	<string>zentai-9b38a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164540827567:ios:16a63f40b785d9ab86915a</string>
</dict>
</plist>